input[type="range"] {
  width: 50%;
}

#scriptOutput {
  width: auto;
  word-wrap: break-word;
}

h1 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#inputFileName {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#bytesvalue {
  color: black;
}
